// Estilos para ser utilizados de forma global nos componentes.
.uniride-bg {
  background: #AF1B3F;
}

.uniride-text {
  color: #0C1B33;
}

.uniride-button {
  background: #FF934F;
  color: #0C1B33;
}